body {
    background-color: #000;
    margin: 0;
}

canvas {
    background-color: #000;
    width: 100vw;
    height: 99.25vh;
}

@font-face {
    font-family: '8Bit';
    src: url('font/orange-kid.regular.otf') format('opentype');
}